<%- include("partials/header") %>
<div class="container-fluid" style="background-image:
        url('https://img.freepik.com/free-vector/cartoon-sci-fi-game-seamless-background-alien-planet-landscape-mountain-crater-visualization-fantasy-nature-view_1284-41500.jpg?w=2000');
        height:
        100vh; background-repeat: no-repeat; background-size: auto;">
    <div class="content text-light h-100 d-flex flex-column align-items-center justify-content-center">
        <div class="" style="font-size: 15rem;font-family: 'Rubik Dirt', cursive;">404</div>
        <div class="" style="font-size: 2.75rem;font-family: 'DynaPuff', cursive;">OOPS! It looks like you came to
            the wrong planet</div>
        <button class="btn btn-info text-light text-uppercase fw-bold mt-5" style="width: 20rem;">Back to Earth</button>
    </div>
</div>
<%- include("partials/footer") %>