<%- include("header")%>
<div class="header">
    <div class="logo title">
        Todo List
    </div>
    <div class="menu">
        <a href="#" class="link">
            <div class="title">Work</div>
            <div class="bar"></div>
        </a>
        <a href="#" class="link">
            <div class="title">Login</div>
            <div class="bar"></div>
        </a>
        <a href="#" class="link">
            <div class="title">Contact</div>
            <div class="bar"></div>
        </a>
    </div>
</div>
<h1>This is the about page</h1>
<%- include("footer")%>