<!DOCTYPE html>
<html lang="en-in">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js"></script>
    <title>To-Do Web App</title>
</head>