* {
    transition-duration: 250ms;
}

:root {
    --main-color: #83e3b5;
    --secondary-color: #e9fdf5;
    --checkbox: #83e3b55e;
    --checkbox-hover: #83e3b5;
    --bg-light: #61c5a0;
}

html {
    background-color: var(--bg-light);
    background-image: -webkit-linear-gradient(65deg, var(--main-color) 50%, var(--secondary-color) 50%);
    min-height: 1000px;
    font-family: "helvetica neue";
}

body {
    background-color: transparent;
}

h1 {
    color: #fff;
    padding: 10px;
}

.box {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
    background-color: var(--main-color);
    text-align: center;
    color: var(--secondary-color);
}

#heading-todo {
    text-transform: capitalize;
}

.item {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
}

.item:last-child {
    border-bottom: 0;
}

input:checked+p {
    text-decoration: line-through;
    text-decoration-color: var(--main-color);
}

input[type="checkbox"] {
    margin: 20px;
}

p {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #00204a;
}

#taskForm {
    text-align: center;
    margin-left: 20px;
}

#taskForm button {
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color: var(--main-color);
    color: #fff;
    font-size: 30px;
    padding-bottom: 6px;
    border-width: 0;
}

input[type="text"] {
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    outline: none;
    width: 313px;
}

#task_input {
    text-align: center;
}

input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 var(--main-color);
}

::placeholder {
    color: grey;
    opacity: 1;
}

footer {
    color: white;
    color: rgb (0, 0, 0, 0.5);
    text-align: center;
}



a {
    text-decoration: none;
    color: inherit;
}



.done p {
    opacity: 0.7;
}

p {
    opacity: 1;
    position: relative;
}

.done p::after {
    content: "";
    width: 40%;
    height: 1.5px;
    background-color: var(--checkbox-hover);
    position: absolute;
    left: 10%;
    top: 50%;
    transition-duration: 500ms;
}

p::after {
    content: "";
    width: 0%;
    height: 1.5px;
    background-color: var(--checkbox-hover);
    position: absolute;
    left: 10%;
    top: 50%;
    transition-duration: 500ms;
}

.done p::before {
    content: "";
    width: 40%;
    height: 1.5px;
    background-color: var(--checkbox-hover);
    position: absolute;
    right: 10%;
    top: 50%;
    transition-duration: 500ms;
}

p::before {
    content: "";
    width: 0%;
    height: 1.5px;
    background-color: var(--checkbox-hover);
    position: absolute;
    right: 10%;
    top: 50%;
    transition-duration: 500ms;
}

/* Right clik menu */
.context-menu {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px #aaa;
}

.context-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.context-menu ul li {
    padding: 5px 10px;
    cursor: pointer;
}

.context-menu ul li:hover {
    background-color: #eee;
}

.editing {
    border: 1px solid orange;
}

/* Checkboxes */


.label__checkbox {
    display: none;
}

label {
    margin: 10PX;
}

.label__check {
    display: inline-block;
    border-radius: 50%;
    border: 5px solid var(--checkbox);
    background: white;
    vertical-align: middle;
    margin-right: 20px;
    width: 2em;
    height: 2em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border .3s ease;

}

i.icon {
    opacity: 0.2;
    color: transparent;
    transition: opacity .3s .1s ease;
}

.label__check:hover {
    border: 4px solid var(--checkbox-hover);

}

.label__checkbox:checked+.label__text .label__check {
    background: var(--checkbox-hover);


    .icon {
        opacity: 1;
        transform: scale(0);
        color: white;
        -webkit-text-stroke: 0;
        animation: icon .3s cubic-bezier(1.000, 0.008, 0.565, 1.650) .1s 1 forwards;
    }
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes icon {
    from {
        opacity: 0;
        transform: scale(0.3);
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}

.form-container {
    background-color: var(--bg-light);
    border-radius: 20px;
    width: 50%;
    margin-top: 8rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.user-form {
    margin: 1rem 0;
    padding: 3rem 2rem;
    text-align: center;
}



.user-form button {
    margin-top: 1rem;
}

.user-form input {
    width: 75%;
    background: #f3f9f7;
    top: 10px;
    border: none;
    font-size: 20px;
    font-weight: 200;
    outline: none;
    margin: 10px auto;
}

.user-form * {
    margin: 1rem;
}

.user-form input:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 var(--main-color);
}

#task_input {
    text-align: center;
}

/* Navbar */

.header {
    width: 100%;
    text-align: right;
    position: fixed;
    /* color: var(--navbar-bg-color); */
    top: 0;

}

.header .logo {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 32px;
    font-weight: 500;
    padding: 26px;
}

.header .link {
    display: inline-block;
    padding: 15px 0;
    margin: 10px 20px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
    font-weight: 200;
    font-size: 24px;

    .bar {
        width: 100%;
        display: inline-block;
        border-bottom: 3px solid;
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: all 300ms;
    }

    &:hover {
        .bar {
            opacity: 1;
            bottom: 10px;
        }
    }
}

/* Footer shadow */
footer .text {
    background-color: white;
    color: var(--main-color);
    /* font-weight: bold; */
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
}

/* Form buttons */
.btn_form {
    background-color: var(--bg-light);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px,
        rgba(0, 0, 0, 0.07) 0px 2px 4px,
        rgba(0, 0, 0, 0.07) 0px 4px 8px,
        rgba(0, 0, 0, 0.07) 0px 8px 16px,
        rgba(0, 0, 0, 0.07) 0px 16px 32px,
        rgba(0, 0, 0, 0.07) 0px 32px 64px;
    color: white
}